.country-contener {
  max-width: 1100px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.country-border {
  width: calc(25% - 30px);
  margin-bottom: 20px;
  margin-right: 20px;
  background-color: white;
  height: 35vh;
  border-radius: 10px;
  transition: all 0.2s ease;
  cursor: pointer;
}
.country-border:nth-child(4n) {
  margin-right: 0;
}
.country-border:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
img {
  border-radius: 10px 10px 0 0;
}
span {
  font-weight:;
}
.name,
.population,
.region,
.capital {
  margin-top: 7px;
  margin-left: 30px;
}
.name {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}
