.input-contener {
  position: relative;
  width: 300px;
}
.search-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translate(-50%, -50%);
  padding-left: 10px;
}
.input {
  width: 300px;
  padding: 15px 40px;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
